.btn{
    padding: 10px;
    font-size: 1.2rem;
    background-color: royalblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
        opacity: .7;
    }
}