*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    padding-top: 70px;
}
.fov-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}

.alert-global-active{
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.gl-intro{
    width: 80%;
    font-size: 1.2rem;
    color: rgb(109, 109, 109);
    font-weight: 300;
    text-align: center;
}

@import './buttons';
@import './cards/templates-card';
@import './cards/technologies-card';
@import './form';



