.footer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80px;
    background-color: #191919;
    letter-spacing: 1.5px;
}